{% extends "base.html" %}
{% block title %} About Page {% endblock %}
{% block content %}

<div class="topnav">
    <a  href="/home">Home</a>
    <a  href="/videos">Videos</a>
    <a class="active" href="/about">About</a>
    <a href="/todos">To do</a>
    <a  href="/contact">Contact</a>
  </div>

<h1>👋 About Us</h1>
<center><p>At PorkHub.com, we are dedicated to providing you with the best recipe that will satisfy your taste. Whether you're looking for inspiration, information, or just a place to explore, as long as the main ingredient is pork we have something for everyone.</p></center>

<h2>Our Mission</h2>
Our mission is to give you the best pork recipe you can think of, we aim to explain how can you cook different kinds of pork dishes for your family and friends or maybe just for your self. wondering how? follow the steps below: </h2>
<h3>1. Discover</h3>
<p> Uncover a world of possibilities in your kitchen with porkhub.</p>

<h3>2. Learn</h3>
<p>Stay informed and enhance your knowledge with our insightful video recipes.</p>


<p4 class="glow">- Mark Angelo A. Balino</p4>
{% endblock %}