{% extends 'base.html' %}

{% block title %}
    Home - PorkHub.com
{% endblock %}

{% block content %}
<div class="topnav">
  <a class="active" href="#Home">Home</a>
  <a  href="/videos">Videos</a>
  <a href="/about">About</a>
  <a href="/todos">To do</a>
  <a  href="/contact">Contact</a>
</div>

<h1><center><b> What to cook Tonight </b></center></h1>

<center><img src="/media/1.png" alt="food"></center>

<p> <center> browse the collection of our video recipes at the video tab above </center></p>
<p> <center> or by just clicking <a href="/videos">here</a> </center></p>

{% endblock %}
demo/myapp/templates/home.html