{% extends 'base.html' %}

{% block title %}
    Videos - PorkHub.com
{% endblock %}

{% block content %}
<div class="topnav">
    <a  href="/home">Home</a>
    <a class="active" href="/videos">Videos</a>
    <a href="/about">About</a>
    <a  href="/contact">Contact</a>
    <input type="text" placeholder="Search..">
  </div>

<center> 
  <iframe width="560" height="315" src="https://www.youtube.com/embed/6tt-iwqOazU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</center>

<center> 
  <iframe width="560" height="315" src="https://www.youtube.com/embed/u8k5-Alluq0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</center> 

<center> 
  <iframe width="560" height="315" src="https://www.youtube.com/embed/-xMLesyzO18" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</center>

<center>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/i-yMnPdCv5M?si=9DoOkfWOQhgMlbIx" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</center>

<center>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/EglwOEDdsHU?si=tMmjATqtzsdcJEhI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</center>
{% endblock %}